[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"
#REFACTOR: It may be better to specify the version.

[packages]
matplotlib=">=3.4"
jupyterlab = "*"
llvmlite="*"
mp_api = "*"
matminer = "*"
pycaret = "*"
beautifulsoup4 = "*"
ipywidgets = "*"
nodejs = "*"
bokeh = "*"
black = "*"
dask = "*"
seaborn = "*"
mpcontribs-client = "*"
mendeleev = "*"

[requires]
python_version = "3.8.13"
